#nav-bar {
    position: fixed;
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
    padding: 0px 2em;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1
}


#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 10px;
}

#nav-bar .header {
    font-size: 2rem;
    line-height: 80px;
    float: left;
    
    

}

#nav-bar button {
 float: right;
 margin-top: 20px;
 color: #00a087;
 background-color: #ccffcc;
 padding: 15px;
 border-radius: 5px;
 border: 1.5px solid black;
 font-size: 18px;
}

#nav-bar button:hover {
color:black;
background-color:white;
}